@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#game {
    width: 300px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px -7px black;
}

#title-bar > p {
    margin: 10px auto;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    text-align: center;
}

#mini-vs {
    font-size: 36px;
}

#players {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

input.player-name {
    width: 12ch;
    margin: 2px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: center;
    border: 0;
    background-color: lightgrey;
}

input.player-name.is-turn {
    background-color: cadetblue;
}

input.player-name.is-winner {
    background-color: forestgreen;
}

input.player-name:focus {
    box-shadow: inset 0 0 7px -3px black;
}

#warning-box {
    margin: 20px auto;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.warning {
    width: 100%;
    margin: 0 15px;
    padding: 5px 0;
    outline: 0;
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#board {
    height: 261px;
    width: 261px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    /* remove the border to create standard hash board */
    border: 0px solid black;
    background-color: black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    color: black;
    user-select: none;
    cursor: pointer;
    background-color: white;
}

.square.win-line {
    background-color: forestgreen;
}

#new-game-container {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button#new-game {
    padding: 0 10px;
    margin: 0;
    height: 35px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: center;
    border: 0;
    outline: 0;
    background-color: lightgrey;
}

button#new-game:hover {
    background-color: forestgreen;
}

button#new-game:active {
    box-shadow: inset 0 0 7px -3px black;
}

.invisible {
    display: none;
}