@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#game {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 3px solid black;
}

#board {
    height: 252px;
    width: 252px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    border: 1px solid black;
    background-color: black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    user-select: none;
    cursor: pointer;
    background-color: white;
}